.row > div {
	padding :10px;
	background:  #5D91BD   ;
	border: 1px solid #fff;
	
}
.row {
	 margin: 20px auto;	 
 }
 
 #div1 {
	padding :10px;
	background: #C36894   ;
	border: 1px solid #fff;
	}
	
 #div2 {
	padding :10px;
	background:#F0D0DB   ;
	border: 1px solid #fff;
	}
h3{
	color: #392A4B;
	
	}
	